<a href="https://colab.research.google.com/github/mariadelcar18/Deliverable_7/blob/main/Deliverable_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import pandas as pd

In [100]:
# Ask the user to enter an integer value greater than 0.
n = int(input("Please enter a non-negative number that is greater than 0: "))

# Use a conditional statement to check the userâ€™s entry is greater than 0.
if n>0:
  even = []
  odd = []
  fibo = [0,1]
  
  # Create a list for each sequence, and store the numbers of sequences
  for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    
    if i>1:
       fibo.append(fibo[i-2]+fibo[i-1])
  
  # Verify if ths lists have the same length 
  if len(even)==len(odd)==len(fibo): 
    # Display your results in a data frame format.
    my_dict = {'Even': even,'Odd': odd,'Fibonacci': fibo} 
    df = pd.DataFrame(my_dict)
    display(df)

else: 
  print("You cannot enter this number. Please try again.")

Please enter a non-negative number that is greater than 0: 4

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2